<div class="flip-card" id="about">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/img/girl.png" alt="Girls" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <div class="price-box">
        <div class="price">
          <p class="price-text">Only</p>
          <p class="price-main">R150.00</p>
        </div>
        <button class="btn order-btn btn-lg text-white mt-5" data-toggle="modal" data-target="#orderModal">Order
          Now!</button>
        {{!-- <a href="#popup" class="btn order-btn btn-lg text-white mt-5">Order Now!</a> --}}
      </div>
    </div>
  </div>
</div>
<!-- ORDER MODAL -->
<div class="modal fade" id="orderModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buy a T-Shirt</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="text-muted mb-3">Helpline: +268 7828 2051 or +268 79282051</p>
        
        <form action="/about" method="post" id="order-form">

        {{#each errors}}
        <div class="alert alert-danger error-feedback" >{{text}}
          {{!-- <button class="close ml-auto"><span>&times;</span></button> --}}
        </div>
        {{else}}

        {{/each}}
          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" value="{{name}}">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input name="email" type="email" class="form-control" value="{{email}}">
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input name="phone" type="tel" class="form-control" value="{{phone}}">
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input name="address" type="text" class="form-control">
            <small class="text-muted">
              * Optional *
            </small>
          </div>

          <div class="form-group">
            <label for="color">Color</label>
            <input name="color" type="text" class="form-control" value="{{color}}">
            <small class="form-text text-muted">
              * We have all colors available *
            </small>
          </div>

          <div class="form-group">
            <label for="color">Size</label>
            <select name="size" class="custom-select mb-3" value="{{size}}">
              <option selected>Choose your size</option>
              <option value="small">Small</option>
              <option value="medium">Med</option>
            </select>
          </div>
          <input type="submit" value="Submit" class="btn bg-custom btn-block text-white btn-lg mb-5">
          {{!-- <a href="#popup" onclick="document.getElementById('order-form').submit(); " class="btn bg-custom btn-block text-white btn-lg mb-5">Submit</a> --}}

        </form>
      </div>
    </div>
  </div>
