<!-- Home section -->
<div class="main-header">
  <div id="home" class="row py-5">
    <div class="col-sm-12 col-md-6 text-center text-white">
      <h1 class="display-4 mt-5">
        Freedom plus equal rights to all
      </h1>
      <p class="lead py-4">
        Discrimination shall be a word in the dictionary only!!
        We are all humans, we have the rights to...
      </p>
      <a href="#about" class="btn btn-outline-secondary btn-lg text-white" id="btn-custom"><i
          class="fa fa-arrow-right"></i> Read
        More</a>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/img/trio-generation.png" alt="T-Shirt" class="logo img-fluid">
    </div>
  </div>
</div>

<!-- Info header section -->
<div class="row text-center py-5">
  <div class="col">
    <div class="info-header">
      <h3 class="text-primary pb-3">
        Get yourself a T-Shirt
      </h3>
      <p class="lead text-muted pb-3">
        New look, new brand, new you. Find it all with our locally designed brand.
      </p>
      <p>
          <a href="#categories" class="hint">
            Click or hover these images below to make your first order.
          </a>
      </p>

    </div>
  </div>
</div>

<!-- Categories section -->
<div class="row" id="categories">
  <div class="col-md-4">
    <div class="flip-card mt-1 mb-2">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-img">
            <img src="/img/girl.png" alt="Girls" style="width:298px;height:300px;">
          </div>
          <div class="card-details">
            <ul class="details">
              <li class="detail-list">Ladies beautiful design</li>
              <li class="detail-list">All colors</li>
              <li class="detail-list">Short + long sleeves</li>
              <li class="detail-list">Round and V-necks</li>
              <li class="detail-list">High quality</li>
            </ul>
          </div>
        </div>
        <div class="flip-card-back" style="background-image: linear-gradient(to right bottom, #ff512f, #dd2476);">
          <div class="price-box">
            <div class="price">
              <p class="price-text">Only</p>
              <p class="price-main">R300.00</p>
            </div>
            <button class="btn btn-outline-secondary btn-lg text-white" id="btn-custom" data-toggle="modal"
              data-target="#orderModal" data-backdrop="static" data-keyboard="false">Order Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="flip-card mt-1 mb-2">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-img">
            <img src="/img/guy.png" alt="Guys" style="width:298px;height:300px;">
          </div>
          <div class="card-details">
            <ul class="details">
              <li class="detail-list">Men's handsome design</li>
              <li class="detail-list">All colors</li>
              <li class="detail-list">Short + long sleeves</li>
              <li class="detail-list">Round and V-necks</li>
              <li class="detail-list">High quality</li>
            </ul>
          </div>
        </div>
        <div class="flip-card-back" style="background-image: linear-gradient(to right bottom, #00b4db, #0083b0);">
          <div class="price-box">
            <div class="price">
              <p class="price-text">Only</p>
              <p class="price-main">R300.00</p>
            </div>
            <button class="btn btn-outline-secondary btn-lg text-white" id="btn-custom" data-toggle="modal"
              data-target="#orderModal" data-backdrop="static" data-keyboard="false">Order Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="flip-card mt-1">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-img">
            <img src="/img/girl.png" alt="Gays" style="width:298px;height:300px;">
          </div>
          <div class="card-details">
            <ul class="details">
              <li class="detail-list">LGBTIQ</li>
              <li class="detail-list">All colors</li>
              <li class="detail-list">Short + long sleeves</li>
              <li class="detail-list">Round and V-necks</li>
              <li class="detail-list">High quality</li>
            </ul>
          </div>
        </div>
        <div class="flip-card-back" style="background-image: linear-gradient(to right bottom, #7ed56f, #28b485);">
          <div class="price-box">
            <div class="price">
              <p class="price-text">Only</p>
              <p class="price-main">R300.00</p>
            </div>
            <button class="btn btn-outline-secondary btn-lg text-white" id="btn-custom" data-toggle="modal"
              data-target="#orderModal" data-backdrop="static" data-keyboard="false">Order Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ORDER MODAL -->
  <div class="modal fade" id="orderModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Buy a T-Shirt</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <p class="text-muted mb-3">Helpline: +268 76771099 or +268 79861154</p>

          <form action="/" method="post" id="order-form">

            {{#each errors}}
            <div class="alert alert-danger feedback">{{text}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            {{else}}

            {{/each}}

            {{#if success_msg}}
            <div class="alert alert-success feedback">
              {{success_msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            {{else}}

            {{/if}}

            {{#if error_msg}}
            <div class="alert alert-danger feedback">
              {{error_msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            {{else}}

            {{/if}}

            <div class="form-group">
              <label for="name">Name</label>
              <input name="orderName" type="text" class="form-control" id="name" value="{{name}}">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input name="orderEmail" type="email" class="form-control" id="email" value="{{email}}">
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input name="phone" type="tel" class="form-control" id="phone" value="{{phone}}">
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input name="address" type="text" class="form-control" id="address">
              <small class="text-muted">
                * Optional *
              </small>
            </div>

            <div class="form-group">
              <label for="color">Color</label>
              <input name="color" type="text" class="form-control" id="color" value="{{color}}">
              <small class="form-text text-muted">
                * We have all colors available *
              </small>
            </div>

            <div class="form-group">
              <label for="color">Size</label>
              <select name="size" class="custom-select mb-3" id="size" value="{{size}}">
                <option selected>Choose your size</option>
                <option value="XSmall">XS</option>
                <option value="Small">S</option>
                <option value="Medium">M</option>
                <option value="Large">L</option>
                <option value="XLarge">XL</option>
              </select>
            </div>
            <input type="submit" value="Submit" class="btn bg-custom btn-block text-white btn-lg mb-5">

          </form>
        </div>
      </div>
    </div>
  </div>
  {{!End of Modal --}}
</div>

<!-- About section -->
<div class="row py-5" id="about">
  <div class="col">
    <div class="text-center mb-5">
      <h3 class="text-danger">Why this T-shirt?</h3>
      <p class="pb-3">
        Trio-Generation brings unity to people with different pespectives and choices. Straight individuals should make
        those who ain't straight, comfortable with what they are. Good people let us all be proud and live a
        non-judgemental life.
      </p>
      <p class="">
        Be proud to present this caring love triangle in your own style.
      </p>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header text-center" id="headingOne">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-arrow-circle-down"></i> Unity
            </div>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Trio-Generation is all about bringing together friends and familes
            with the aim of avoiding descrimination that affects both. How? Young people
            are being abondoned by the society from what they choose to be, yet they are
            entitled to live their own lives. By so saying that, there is really no need
            to go against anyone's decision, we should all value one's choice to embrace
            all kinds of positive feelings, thus bringing unity within society.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" id="headingTwo">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fa fa-arrow-circle-down"></i> No judgements
            </div>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            It has been said that we have the God given rights, to be who we are, not who 
            others want us to be. Gossiping and pointing fingers is a disgrace, fair enough 
            let us all play our part and always do the right thing. Let us continue to live 
            a non-judgemental life and let God take the initiative of being the master of
            creations.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" id="headingThree">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              <i class="fa fa-arrow-circle-down"></i> Freedom
            </div>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Here is a caring love triangle and a movement towards free world. The sky is 
            the limit! Feel free to live the life that you desire. There are no boundaries,
            you go by your own rules, express yourself without fear, favour or prejudice, 
            you just fly as high as you possible can.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer id="main-footer" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <p class="lead pt-2">Copyright &copy; {{formatDate date 'YYYY'}}</p>
        <p class="mb-0">Follow us on social media for more special offers.</p>
        <div class="d-flex flex-row justify-content-center">
          <div class="p-4">
            <a href="https://facebook.com" target="_blank">
              <i class="fa fa-facebook fa-lg text-white"></i>
            </a>
          </div>
          <div class="p-4">
            <a href="https://instagram.com" target="_blank">
              <i class="fa fa-instagram fa-lg text-white"></i>
            </a>
          </div>
          <div class="p-4">
            <a href="https://twitter.com" target="_blank">
              <i class="fa fa-twitter fa-lg text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>