<div class="main-header">
  <div id="home" class="row py-5">
    <div class="col-md-6 text-center text-white">
      <h1 class="display-3 mt-3 header-h1">
        Freedom plus equal rights to all
      </h1>
      <p class="lead">
        Discrimination shall be a word in dictionary only!!
        The fact that we all humans, we must be treated fairly..
      </p>
      <a href="#about" class="btn btn-outline-secondary btn-lg text-white" id="btn-custom"><i
          class="fa fa-arrow-right"></i>Read
        More</a>
    </div>
    <div class="col-md-6">
      <img src="/img/trio-generation.png" alt="T-Shirt" class="logo img-fluid mt-3">
    </div>
  </div>
</div>

<!-- Info header section -->
<div class="row text-center py-5">
  <div class="col">
    <div class="info-header">
      <h3 class="text-primary pb-3">
        Get yourself a T-Shirt
      </h3>
      <p class="lead text-muted pb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, porro?
      </p>
    </div>
  </div>
</div>

<!-- Categories section -->
<div class="row" id="categories">
  <div class="col-md-4">
    <div class="flip-card mt-1 mb-2">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/img/girl.png" alt="Girls" style="width:298px;height:300px;">
          <h4 class="mt-3 text-danger">Girls</h4>
          <p class="content" style="width: 80%; margin: auto;">
            Girls and you guys, please focus on who you are. We must be
            all proud of ourselves. Let us continue to live a life of
            a non-judgemental soul because there is one and only one
            judge, God.</p>
        </div>
        <div class="flip-card-back" style="background-image: linear-gradient(to right bottom, #ff512f, #dd2476);">
          <div class="price-box">
            <div class="price">
              <p class="price-text">Only</p>
              <p class="price-main">R300.00</p>
            </div>
            <button class="btn btn-outline-secondary btn-lg text-white" id="btn-custom" data-toggle="modal"
              data-target="#orderModal" data-backdrop="static" data-keyboard="false">Order Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="flip-card mt-1 mb-2">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/img/guy.png" alt="Guys" style="width:298px;height:300px;">
          <h4 class="mt-3 text-primary">Guys</h4>
          <p class="content" style="width: 80%; margin: auto;">
            Guys, please focus on who you are. We must be
            all proud of ourselves. Let us continue to live a life of
            a non-judgemental soul because there is one and only one
            judge, God.</p>
        </div>
        <div class="flip-card-back" style="background-image: linear-gradient(to right bottom, #00b4db, #0083b0);">
          <div class="price-box">
            <div class="price">
              <p class="price-text">Only</p>
              <p class="price-main">R300.00</p>
            </div>
            <button class="btn btn-outline-secondary btn-lg text-white" id="btn-custom" data-toggle="modal"
              data-target="#orderModal" data-backdrop="static" data-keyboard="false">Order Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="flip-card mt-1">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/img/girl.png" alt="Gays" style="width:298px;height:300px;">
          <h4 class="mt-3" style="color: rgba(126, 213, 111);">Gays</h4>
          <p class="content" style="width: 80%; margin: auto;">
            Guys, please focus on who you are. We must be
            all proud of ourselves. Let us continue to live a life of
            a non-judgemental soul because there is one and only one
            judge, God.</p>
        </div>
        <div class="flip-card-back" style="background-image: linear-gradient(to right bottom, #7ed56f, #28b485);">
          <div class="price-box">
            <div class="price">
              <p class="price-text">Only</p>
              <p class="price-main">R300.00</p>
            </div>
            <button class="btn btn-outline-secondary btn-lg text-white" id="btn-custom" data-toggle="modal"
              data-target="#orderModal" data-backdrop="static" data-keyboard="false">Order Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ORDER MODAL -->
  <div class="modal fade" id="orderModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Buy a T-Shirt</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <p class="text-muted mb-3">Helpline: +268 76771099 or +268 79861154</p>

          <form action="/" method="post" id="order-form">

            {{#each errors}}
            <div class="alert alert-danger feedback">{{text}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            {{else}}

            {{/each}}

            {{#if success_msg}}
            <div class="alert alert-success feedback">
              {{success_msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            {{else}}

            {{/if}}

            {{#if error_msg}}
            <div class="alert alert-danger feedback">
              {{error_msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            {{else}}

            {{/if}}

            <div class="form-group">
              <label for="name">Name</label>
              <input name="orderName" type="text" class="form-control" id="name" value="{{name}}">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input name="orderEmail" type="email" class="form-control" id="email" value="{{email}}">
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input name="phone" type="tel" class="form-control" id="phone" value="{{phone}}">
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input name="address" type="text" class="form-control" id="address">
              <small class="text-muted">
                * Optional *
              </small>
            </div>

            <div class="form-group">
              <label for="color">Color</label>
              <input name="color" type="text" class="form-control" id="color" value="{{color}}">
              <small class="form-text text-muted">
                * We have all colors available *
              </small>
            </div>

            <div class="form-group">
              <label for="color">Size</label>
              <select name="size" class="custom-select mb-3" id="size" value="{{size}}">
                <option selected>Choose your size</option>
                <option value="XSmall">XS</option>
                <option value="Small">S</option>
                <option value="Medium">M</option>
                <option value="Large">L</option>
                <option value="XLarge">XL</option>
              </select>
            </div>
            <input type="submit" value="Submit" class="btn bg-custom btn-block text-white btn-lg mb-5">

          </form>
        </div>
      </div>
    </div>
  </div>
  {{!End of Modal --}}

</div>

<!-- About section -->
<div class="row py-5" id="about">
  <div class="col">
    <div class="info-header text-center mb-5">
      <h3 class="text-danger">Why this T-shirt?</h3>
      <p class="lead pb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum ad libero corrupti error architecto.
      </p>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header text-center" id="headingOne">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-arrow-circle-down"></i> Get Inspired
            </div>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil architecto ex, perspiciatis quis
            iusto doloremque minus ut et, quos neque distinctio placeat nulla explicabo ea saepe facilis voluptatum
            reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis fugit? Voluptate rerum
            amet
            sed deserunt itaque laudantium sapiente accusantium!
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" id="headingTwo">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fa fa-arrow-circle-down"></i> Gain the knowledge
            </div>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil architecto ex, perspiciatis quis
            iusto doloremque minus ut et, quos neque distinctio placeat nulla explicabo ea saepe facilis voluptatum
            reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis fugit? Voluptate rerum
            amet
            sed deserunt itaque laudantium sapiente accusantium!
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" id="headingThree">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              <i class="fa fa-arrow-circle-down"></i> Open your mind
            </div>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil architecto ex, perspiciatis quis
            iusto doloremque minus ut et, quos neque distinctio placeat nulla explicabo ea saepe facilis voluptatum
            reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis fugit? Voluptate rerum
            amet
            sed deserunt itaque laudantium sapiente accusantium!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact section -->
<div class="row py-3" id="contact">
  <div class="col-lg-6 col-sm-12 order-sm-2 order-lg-1">
    {{#each errors}}
    <div class="alert alert-danger comment-feedback">
      {{text}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
    </div>
    {{else}}

    {{/each}}

    {{#if success_msg}}
    <div class="alert alert-success">
      {{success_msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
    </div>
    {{else}}

    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">
      {{error_msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
    </div>
    {{else}}

    {{/if}}
    <h3 class="h4">Get in touch</h3>
    <p>Your email address will not be published</p>
    <form action="/" method="post">
      <div class="form-group">
        <div class="input-group ">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="name" class="form-control" value="{{name}}" placeholder="Name" required>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group ">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
          <input type="email" name="email" class="form-control" value="{{email}}" placeholder="Email" required>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group ">
          <span class="input-group-text">
            <i class="fa fa-pencil"></i>
          </span>
          <textarea name="message" class="form-control" placeholder="Message" rows="3" required>{{message}}</textarea>
        </div>
      </div>

      <input type="submit" value="Submit" class="btn bg-custom btn-block text-white mb-5">
    </form>
  </div>

  <div class="col-lg-6 col-sm-12 order-sm-1 order-lg-2">

    {{#if messages}}
    <p>Latest Comments</p>
    {{else}}

    {{/if}}

    <div id="wrapper">
      <div class="scrollbar" id="style-1">
        <div class="force-overflow">
          {{#each messages}}
          <table class="stripped">
            <thead>
              <tr>
                <th scope="row"></th>
                <td width="70">
                  <i class="fa fa-user fa-3x text-secondary"
                    style="width: 50px; margin-left:10px; margin-top: 10px;"></i>
                </td>
                <td class="text-primary"><strong>{{name}}</strong></td>
                <td class="text-muted" style="padding-left: 10px;">
                  {{formatDate date 'MMMM Do YYYY'}}
                </td>
              </tr>
            </thead>
          </table>
          <p style="margin-left: 75px; width:80%">{{details}}</p>
          <hr>
          {{else}}
          <center>
            <img src="/img/trio-generation.png" alt="Trio Generation - Logo" class="logo">
          </center>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer id="main-footer" class="py-5 text-white" style="background-color: rgba(126, 213, 111);">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <p class="lead pt-2">Copyright &copy; {{formatDate date 'YYYY'}}</p>
        <p class="mb-0">Follow us on social media for more special offers.</p>
        <div class="d-flex flex-row justify-content-center">
          <div class="p-4">
            <a href="https://facebook.com" target="_blank">
              <i class="fa fa-facebook fa-lg text-white"></i>
            </a>
          </div>
          <div class="p-4">
            <a href="https://twitter.com" target="_blank">
              <i class="fa fa-twitter fa-lg text-white"></i>
            </a>
          </div>
          <div class="p-4">
            <a href="https://instagram.com" target="_blank">
              <i class="fa fa-instagram fa-lg text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>