<!-- Logo section 
<div class="container">
  <div class="row bg-light">
    <div class="col md-6 mx-auto">
      <center>
        <img src="/img/trio-generation.png" alt="Trio Generation - Logo" class="logo">
      </center>
    </div>
  </div>
-->
<!-- Header section -->
<div class="main-header">
  <div id="home" class="row py-5">
    <div class="col-md-6 text-center text-white">
      <h1 class="display-3 mt-5 pt-5">
        Freedom plus equal rights to all
      </h1>
      <p class="lead">
        Discrimination shall be a word in dictionary only!!
        The fact that we all humans, we must be treated fairly..
      </p>
      <a href="#about" class="btn header-btn btn-outline-secondary btn-lg text-white"><i
          class="fa fa-arrow-right"></i>Read
        More</a>
    </div>
    <div class="col-md-6">
      <img src="/img/trio-generation.png" alt="T-Shirt" class="logo img-fluid mt-3 pt-3">
    </div>
  </div>
</div>

<!-- Info header section -->
<div class="row text-center py-5">
  <div class="col">
    <div class="info-header">
      <h3 class="text-primary pb-3">
        Get yourself a T-Shirt
      </h3>
      <p class="lead text-muted pb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, porro?
      </p>
    </div>
  </div>
</div>

<!-- Categories section -->
<div class="row" id="categories">
  <div class="col-md-4">
    <div class="card card1 mb-3">
      <img src="/img/guy.png" alt="" class="card-img-top card_image">
      <div class="card-body">
        <h4 class="card-title text-primary">Guys</h4>
        <p class="card-text">Girls and you guys, please focus on who you are. We must be
          all proud of ourselves. Let us continue to live a life of
          a non-judgemental soul because there is one and only one
          judge, God.</p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card card1 mb-3">
      <img src="/img/guy.png" alt="" class="card-img-top card_image">
      <div class="card-body">
        <h4 class="card-title text-primary">Guys</h4>
        <p class="card-text">Girls and you guys, please focus on who you are. We must be
          all proud of ourselves. Let us continue to live a life of
          a non-judgemental soul because there is one and only one
          judge, God.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card1">
      <img src="/img/person3.jpg" alt="" class="card-img-top card_image">
      <div class="card-body">
        <h4 class="card-title" style="color: rgba(126, 213, 111);">Gays</h4>
        <p class="card-text">Girls and you guys, please focus who on you are. We must be
          all proud of ourselves. Let us continue to live a life of
          a non-judgemental soul because there is one and only one
          judge, God.</p>
      </div>
    </div>
  </div>
</div>

<!-- About section -->
<div class="row py-5" id="about">
  <div class="col">
    <div class="info-header text-center mb-5">
      <h3 class="text-danger">Why this T-shirt?</h3>
      <p class="lead pb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum ad libero corrupti error architecto.
      </p>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header text-center" id="headingOne">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-arrow-circle-down"></i> Get Inspired
            </div>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil architecto ex, perspiciatis quis
            iusto doloremque minus ut et, quos neque distinctio placeat nulla explicabo ea saepe facilis voluptatum
            reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis fugit? Voluptate rerum
            amet
            sed deserunt itaque laudantium sapiente accusantium!
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" id="headingTwo">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fa fa-arrow-circle-down"></i> Gain the knowledge
            </div>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil architecto ex, perspiciatis quis
            iusto doloremque minus ut et, quos neque distinctio placeat nulla explicabo ea saepe facilis voluptatum
            reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis fugit? Voluptate rerum
            amet
            sed deserunt itaque laudantium sapiente accusantium!
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" id="headingThree">
          <h5 class="mb-0">
            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              <i class="fa fa-arrow-circle-down"></i> Open your mind
            </div>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil architecto ex, perspiciatis quis
            iusto doloremque minus ut et, quos neque distinctio placeat nulla explicabo ea saepe facilis voluptatum
            reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis fugit? Voluptate rerum
            amet
            sed deserunt itaque laudantium sapiente accusantium!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact section -->
<div class="row bg-light py-5" id="contact">
  <div class="col-lg-6 col-sm-12 order-sm-2 order-lg-1">
    {{#each errors}}
    <div class="alert alert-danger">
      {{text}}
    </div>
    {{else}}

    {{/each}}

    {{#if success_msg}}
    <div class="alert alert-success">
      {{success_msg}}
    </div>
    {{else}}

    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">
      {{error_msg}}
    </div>
    {{else}}

    {{/if}}
    <h3 class="h4">Get in touch</h3>
    <p>Lorem ipsum dolor sit amet.</p>
    <form action="/" method="post">
      <div class="form-group">
        <div class="input-group ">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="name" class="form-control" value="{{name}}" placeholder="Name" required>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group ">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
          <input type="email" name="email" class="form-control" value="{{email}}" placeholder="Email" required>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group ">
          <span class="input-group-text">
            <i class="fa fa-pencil"></i>
          </span>
          <textarea name="message" class="form-control" placeholder="Message" rows="3" required>{{message}}</textarea>
        </div>
      </div>

      <input type="submit" value="Submit" class="btn bg-custom btn-block text-white mb-5">
    </form>
  </div>

  <div class="col-lg-6 col-sm-12 order-sm-1 order-lg-2">
    <h5>Latest Comments</h5>
    <div id="wrapper">
      <div class="scrollbar" id="style-1">
        <div class="force-overflow">
          <hr>
          {{#each messages}}
          <table class="stripped">
            <thead>
              <tr>
                <th scope="row"></th>
                <td width="70">
                  <i class="fa fa-user fa-3x text-secondary"
                    style="width: 50px; margin-left:10px; margin-top: 10px;"></i>
                </td>
                <td class="text-primary"><strong>{{name}}</strong></td>
                <td class="text-muted" style="padding-left: 10px;">
                  {{formatDate date 'MMMM Do YYYY'}}
                </td>
              </tr>
            </thead>
          </table>
          <p style="margin-left: 75px; width:80%">{{details}}</p>
          <hr>
          {{else}}
          <center>
            <img src="/img/trio-generation.png" alt="Trio Generation - Logo" class="logo">
          </center>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer id="main-footer" class="py-5 text-white" style="background-color: rgba(126, 213, 111);">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <p class="lead pt-2">Copyright &copy; {{formatDate date 'YYYY'}}</p>
        <p class="mb-0">Follow us on social media for more special offers.</p>
        <div class="d-flex flex-row justify-content-center">
          <div class="p-4">
            <a href="https://facebook.com" target="_blank">
              <i class="fa fa-facebook fa-lg text-white"></i>
            </a>
          </div>
          <div class="p-4">
            <a href="https://twitter.com" target="_blank">
              <i class="fa fa-twitter fa-lg text-white"></i>
            </a>
          </div>
          <div class="p-4">
            <a href="https://instagram.com" target="_blank">
              <i class="fa fa-instagram fa-lg text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>