<div class="row py-5">
  <div class="col-md-6 mx-auto">

    {{!-- Check for errors --}}
    {{#each errors}}
    <div class="alert alert-danger">{{text}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
    </div>
    {{else}}

    {{/each}}

    {{!-- Check for success messages --}}
    {{#if success_msg}}
    <div class="alert alert-success">
      {{success_msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
    </div>
    {{else}}
    {{!-- Check for error messages --}}
    {{#if error_msg}}
    <div class="alert alert-danger">
      {{error_msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
    </div>
    {{else}}

    {{/if}}

    {{/if}}
    <div class="card">
      <div class="card-body">
        <div class="profile-img">
          <i class="fa fa-user-plus fa-4x"></i>
          <h5 class="py-2 text-dark">Registration Info</h5>
        </div>
        <form action="/users/register" method="post" class="mt-3">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" value="{{name}}" required>
              </div>

            </div>
            <div class="col">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" value="{{email}}" required>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required>
              </div>
            </div>
            <div class="col">

              <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <a class="text-dark" style="text-decoration:none;" href="/users/login"> 
              <i class="fa fa-arrow-circle-left"></i> Back</a>
            </div>
            <div class="col">
              <button type="submit" class="btn bg-custom btn-block float-right">
                Submit <i class="fa fa-arrow-circle-right"></i></button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>